

{% extends 'base.html' %}

{% block title %}Error - Haramaya{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><i class="fas fa-exclamation-circle"></i> Error</h4>
                <p>{{ error }}</p>
            </div>
            <a href="{% url 'core:home' %}" class="btn btn-primary">
                <i class="fas fa-home"></i> Back to Home
            </a>
        </div>
    </div>
</div>
{% endblock %}
